@charset "utf-8";
@tailwind utilities;

:root {
	--kt-color-text: rgba(235, 235, 235, 0.64);
	--kt-color-background: #181818;
}

:root {
	--kt-font-size: 15px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	color: var(--kt-color-text);
	background: var(--kt-color-background);
	font-size: var(--kt-font-size);
}

a {
	text-decoration: none;
	color: inherit;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
